*{
    font: 12px sans-serif;
}

.botao {
    width: 115px;
    height: 15px;
    text-align: center;
    padding:10px;
    border-radius:5px;
    color:white;
    background:#99ca41;
    font-weight:bold;
}

header > nav{
    float: right;
     
}

header > nav > a {
    padding: 25px 10px;
    text-decoration:none;
    color:black;
    font-weight:bold;
}
section{
   text-align:center;
}

header{
    margin-top:25px;
    height:80px;
}

.logomarca{
    width: 360px;
    height: 260px;
    margin-left: 30px;

    

}

body{
    background-image: url("imagens/FUNDO.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    
}

section > figure{


    float: left;
    width: 320px;
    height: 8cm;
    margin-left: auto;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#home{
 color:white;
}



section > section  {

    margin-right: 500px;
    
}

.conteudo{
    display:table;

}

.imagen{
    display:table-cell;
    float:right;
}

.texto{
    display:table-cell;
    float:right;
    width:200px;
    margin-top:30px;
    margin-right:100px;
    margin-left:120px;
    text-align:left;
}

.corpo{
    margin-top:120px;
}

section > footer{

    margin-top:200px;
    
}
